BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false

ColumnLimit: 100

AllowShortBlocksOnASingleLine: Never

PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Preserve

IndentCaseLabels: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
